@media screen and (min-width: 320px) {
  body {
    background-color: black;
  }
}
.nav-list {
  list-style: none !important;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  width: 100%;
}

header{
    font-weight: bolder;
    font-size: 20px;
    /* padding-bottom: 15px;
    padding-top: 35px */
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    padding-bottom: -400px
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }